.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

h2{
  font-family: Raleway,Arial,sans-serif;
  font-weight: 600;
}

strong {
  font-weight: bolder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.App-header {
  background-color: #61dafb;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height:100%;
}

.navHeader{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height:100%;
}


