:root {

    --maincolor: #f9f9f9;

    --maincolor_tint: #e6e6e6;
    --maincolor_text: #555555;
    --maincolor_texttint: #333333;
    
    --primary: #7ca157;
    --primary_tint: #70914e;
    --primary_text: #f2f6ee;

    --secondary: #00AFF0;
    --secondary_tint: #009ed8;
    --secondary_text: #e6f7fe;

    --tertiary: #eb4034;
    --tertiary_tint: #bc332a;
    --tertiary_text: #fdeceb;

    /* NOTES COLORS */
    --note-error-bg: #fde9e9;
    --note-error-text: #fa9d9d;
    --note-warning-bg: #fdfde9;
    --note-warning-text: #f2d71d;
    --note-info-bg: #e9f7fd;
    --note-info-text: #9dd5fa;

  
    

    --error: #d44006;
    --error_tint: #bf3a05;
    --error_text: #fbece6;

    --disabled: #cccccc;
    --disabled_tint: #aaaaaa;

    --gray: #888888;
    --gray_tint: #666666;
    --gray_tint2: #aaa;
    --gray_text: #f0f0f0;

    --white: #f0f0f0;
    --white_tint: #d0d0d0;

    
    --primary-gradient-background: var(--primary) linear-gradient(80deg, var(--primary) 0%, var(--primary_tint) 100%);
    --primary-gradient-color: #fafafa;

    --secondary-gradient-background: var(--secondary) linear-gradient(80deg, var(--secondary) 0%, var(--secondary_tint) 100%);
    --secondary-gradient-color: #fafafa;

    --disabled-gradient-background: var(--disabled) linear-gradient(80deg, var(--disabled) 0%, var(--disabled_tint) 100%);
    --disabled-gradient-color: #fafafa;

    --secondary-background: #eeeeee;
    --secondary-color: #555555;

    --disabled-background: #cccccc;
    --disabled-color: #888888;



    /* RESPONSIVE LAYOUT */

    --spacing-unit: 0.125rem;

    --margin-web-sm: calc(2 * var(var(--spacing-unit)));
    --margin-web-md: calc(4 * var(var(--spacing-unit)));
    --margin-web-lg: calc(8 * var(var(--spacing-unit)));

    --margin-mobile-sm: calc(1 * var(var(--spacing-unit)));
    --margin-mobile-md: calc(2 * var(var(--spacing-unit)));
    --margin-mobile-lg: calc(4 * var(var(--spacing-unit)));

}