
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "shared.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--main-background);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root{
  align-items: top;
  align-self: top;
  display: flex;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100%;
  min-width: 412px;
  justify-content: left;
  flex-direction: column;
  gap: 0;
  flex: 1;
  justify-content: top;
}


.flexswitch{
  flex-direction: column;
}

@media (min-width: 1024px) {
  .flexswitch{
    flex-direction: row;
  }

  .sidebar{
    margin-right: 0!important;
    margin-top:-64px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--main-background) inset !important;
}

form{
  width:100%;
}