
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "shared.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--maincolor) inset !important;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--maincolor_tint);
  overflow: auto;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0;
  justify-content: top;
  left:0;
  min-height: 100%;
  min-width: 360px;
  position: absolute;
  top:0;
  width: 100%;
}

.FlexSwitchTablet,.FlexSwitchMobile,.FlexSwitchForms{
  flex-direction: column;
}


.FlexSwitchMobileInv{
  flex-direction: column-reverse;
}

@media (min-width: 1024px) {
  .FlexSwitchTablet{
    flex-direction: row;
  }
}

@media (min-width: 720px) {
  .FlexSwitchMobile, .FlexSwitchMobileInv{
    flex-direction: row;
  }

  .FlexSwitchForms{
    flex-direction: row;
    gap:1rem;
  }
}

.flex-1{ flex:1 !important; }
.flex-2{ flex:2 !important; }
.flex-3{ flex:3 !important; }


.gap-1{ gap:1rem; }


.rc-anchor-light.rc-anchor-normal{
  border:1px solid red!important;
}