
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "shared.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--main-background);
  font-family: 'Open Sans', sans-serif;
}

#root{
  align-items: top;
  align-self: top;
  display: flex;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  justify-content: left;
  flex-direction: row;
  gap: 0;
  flex: 1;
  justify-content: top;
}

@media (max-width: 600px) {
  #root {
    height: auto;
    flex-direction: column;
  }
}

form{
  width: 100%;
}

.App-header {
  background-color: #61dafb;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height:100%;
}

.navHeader{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height:100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--main-background) inset !important;
}
